/*==================================================
                1200px
==================================================*/

@media (max-width:1200px){

.hero-content h1{
        font-size: 6rem;
        line-height: 0.95;
        max-width: 650px;
}

.hero-content p{
        max-width: 600px;
}

}

/*==================================================
                992px
==================================================*/

@media (max-width:992px){

.hero-content{
        max-width: 58%;
}

.hero-content h1{
        font-size: 5.2rem;
        line-height: 1;
}

.hero-content p{
        font-size: 1.2rem;
        max-width: 520px;
}

}

/*==================================================
                768px
==================================================*/

@media (max-width:768px){

}

/*==================================================
                576px
==================================================*/

@media (max-width:576px){

}

/*==================================================
                375px
==================================================*/

@media (max-width:375px){

}