/* Variables */
/* ==========================================
   Soul Chaitanya Design System
========================================== */

/* Colors */
:root{

    --primary:#1498A4;
    --primary-dark:#0B5E68;

    --accent:#C8A96A;

    --white:#FFFFFF;

    --background:#F7F8F8;

    --text:#5D6773;

    --heading:#1F2933;

    --glass:rgba(255,255,255,.14);

    --glass-border:rgba(255,255,255,.25);

    --shadow:0 10px 40px rgba(0,0,0,.08);

    --radius:30px;

    --transition:.35s ease;

    --container:1400px;

}